<form action="/api/user/register_or_login" method="POST">
	<label> Name: 
		<input type="text" name="name">
	</label>
	<label> Email: 
		<input type="email" name="email">
	</label>	
	<label> Password: 
		<input type="password" name="password">
	</label>
	<input type="submit" value="Enter">
</form>